.TeamMember{
    background-color: #1f2937;
    height: 85vh;
}
.TeamRow{
    display: flex;
}
.TeamCol{
    flex: 1;
}
.TeamCard{

    margin-left: 12px;
    padding: 8px;
    margin: 10px;
    box-shadow: 10px 6px 0px 0px white;
}
.TeamCard>img{
    width: 78%;
    display: block;
    border-radius: 25%;
    box-shadow: 1px 2px 4px 5px #e3f2fd;
}
.TeamCard>h3{
    color: white;
    font-size: 32px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}
.TeamCard>p{
    color: white;
    line-height: 32px;
    font-family: 'Courier New', Courier, monospace;
}