main {
  background-color: #1f2937;
}
.HomeContainer {
  width: 80%;
  margin: 0 auto;
}
.HomeBox {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  background: -webkit-linear-gradient(
    to top,
    #f27121,
    #e94057,
    #8a2387
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #f27121,
    #e94057,
    #8a2387
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 280px;
  width: 100%;
  border-radius: 45px;
  box-shadow: 5px 8px 5px 5px #f27121 !important;
}

.heading-row {
  display: grid;
  grid-template-columns: 80% 20%;
}
.heading > h1 {
  text-align: center;
  margin: 82px 130px;
  font-size: 55px;
  color: white;
}
.heroslider {
  position: relative;
}
.heroslider > img {
  width: 100%;
  /* animation-timing-function: ; */
  display: block;
  animation: anime 1s linear 1s infinite alternate;
  transition: 0.3s;
}
@keyframes anime{
100%{
  transform: translate(0% ,10%);
}


}



