
footer{
    background-color: #1f2937;
    color: white;
}
.footer-container{
    width: 70%;
    margin: 0 auto;
}
.row-footer{
    display: grid;
    grid-template-columns: auto auto;
}
.sm-footer-links>ul{
    list-style-type: none;
}
.sm-footer-links>ul>li{
    display: inline-block;
    margin: 15px;
}
.sm-footer-links>ul>li>a>span{
    color: white;
    border: 1px solid black;
    padding: 8px;
    border-radius: 20px;
    background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);

}
.copymark>h3{
   margin-top: 22px;
   text-align: right;
    font-weight: 100;
}
.sm-footer-links>ul>li>a>span:hover{ background: linear-gradient(yellow,red,blue);}
