@media(max-width:667px){
    .nav-bar>ul,.sm-links>ul{
        list-style-type: none;
        text-align: left;
    }
    .nav-bar>ul>li{
        display: block;
        margin: 10px;
    }
    .row{
        display: block;
    }
    .sm-links > ul > li > button{
        padding: 8px;
    }
    .heading-row{
        display: block;
    }
    .heading > h1 {
        text-align: center;
        margin: 23px 23px;
        font-size: 28px;
        color: white;
    }

}